.card {
    margin: 1%
}

.myProductList {
    margin-right: 5%;
    margin-left: 5%;
}

.myProducts-header {
    margin-top: 8%;
    margin-bottom: 3%;
    text-align: center;
    font-size: larger;
    font-weight: 600;

}